/* Colors and Fonts */
body {
  background-color: #EADDA6;
  font-family: 'Roboto', sans-serif;
  color:  #7d7d7d;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
h1 {
  color: #5555DD;
  font-size: 22px;
  font-weight: 900;
  margin-top: 10;
}
h2,
h3 {
  font-family: 'Slabo 27px', serif;
}
h2 {
  color: #81866D;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 1px;
}
h3 {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.8em;
  letter-spacing: 3px;
}
p{
  text-align: center;
}
a {
  color: #70755C;
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  color: #EADDA6;
  font-weight: 900;
}
table{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
table img {
  width: 60%;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

/* First simple components */
.container{
  width: 500px;
  margin: 30px auto;
}
.card {
  background-color: #FFFAE2;
  margin: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}
.img-circle{
  border-radius: 60%;
}
.text-center{
  text-align: center;
}
.list-inline {
  padding-left: 0;
}
.list-inline li {
  display: inline-block;
  padding: 20px;
}
.list-inline li i{
  font-size: 25px;
}
.btn-blue{
  background-color: #5555DD;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}
.btn-blue:hover{
  background-color: #1414C6;
  color: white;
}

/* Specific CSS rules */
#img-profile {
  width: 100px;
  height: 100px;
  border: 3px solid #cccccc;
  display: inline-block;
}
#div-profile {
  align-content: right;
  text-align: right;
}

#movies{
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
#movies img{
  width: 100px;
}
#movies td{
  padding: 10px;
}

